body{
  background-image: url('../../../assets/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 16px;
}

.card-login {
  width: 100%;
  max-width: 400px;
  padding: 16px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  background: rgba(255, 254, 254, 0.829);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.25);
}

.conteudo-login {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-field-full {
  width: 100%;
}

mat-form-field {
  width: 100%;
}

mat-card-title {
  font-size: 24px;
  font-weight: bold;
}

mat-card-actions {
  margin-top: 16px;
  display: flex;
  justify-content: flex-end;
}

button.full {
  width: 100%;
  padding: 12px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.fs-6{
  font-size: 0.5rem !important;
}
